/* variables */
$bgcolor: rgba(0, 0, 0, 0.719);
$textcolor-white: rgb(255, 255, 255);
$textcolor-orange: rgb(255, 166, 31);
$textcolor-orange-light: rgb(255, 230, 206);
$text-shadow8:   0.07em 0 black,
                0 0.07em black,
                -0.07em 0 black,
                0 -0.07em black,
                -0.07em -0.07em black,
                -0.07em 0.07em black,
                0.07em -0.07em black,
                0.07em 0.07em black;
$text-shadow4:   0.07em 0 black,
                0 0.07em black,
                -0.07em 0 black,
                0 -0.07em black;
$text-shadow1:   0.07em 0 black;
              
               
$fontsize: 30px;
@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Montserrat:wght@300;400;700&display=swap");

/* global css */

html {

    text-align:center;
    font-family: 'Montserrat', sans-serif;


    body {
        color: $textcolor-white;
        background: url('./images/background.jpg');
        background-size:cover;
        margin:0;
          

        .header, .footer {
            height: 8vh;
            display:flex;
            flex-direction:row;
            justify-content: center;
            align-items: center;
            font-size: $fontsize;
            background-color: $bgcolor;
            text-shadow: $text-shadow8;
            
        }

        .header {
            
            .home-button:hover, .menu-button:hover, .about-button:hover {
                color: $textcolor-orange;
                //color: rgb(178, 210, 224);
                transform:scale(1.5,1.5);

            }
            .home-button, .menu-button, .about-button {
                margin-right:5vw;
                margin-left:5vw;
            }
    

        }

    }
}

/* CSS for Home */
.canvas-web.home {
    min-height:55rem;
}
.inner-canvas.home {
    height:45rem;
    width: 600px;
    margin:auto;
    background-color: $bgcolor;


    .big-text {
        font-family: "Herr Von Muellerhoff", cursive;
        font-size: 150px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom:0;
        margin-top:2rem;
        color:$textcolor-orange;
        text-shadow:$text-shadow1;

    }

    .smol-text {
        font-size: 40px;
        font-weight: bold;
        margin-top: -50px;
        margin-bottom:0px;
        text-align: center;
        text-transform: uppercase;

        color:$textcolor-orange;
        text-shadow: $text-shadow4;

        
    }

    .normie-text {
        display:block;
        color:$textcolor-orange-light;
        font-size: 20px;
    }

    hr {
        width: 280px;
        border: 2px solid #c59d5f;
        margin: 24px auto;
    }

    .button-for-menu {
        display:block;
        margin:auto;
        border: 2px solid #222;
        border-radius: 26px;
        background-color: $textcolor-orange;
        border: 2px solid $textcolor-orange-light;
        font-family:'Montserrat', sans-serif;
        font-size:70px;
        margin-top:20px;
        color:whitesmoke;
        text-shadow: 6px 6px 0px rgba(0,0,0,0.2)
 
    }

    .button-for-menu:hover, .button-for-menu:active {
        background-color: $textcolor-orange-light;
        border: 2px solid $textcolor-orange-light;
    }
}

/* CSS for Menu */
.canvas-web.menu {
    min-height:50rem;

}
.inner-canvas.menu {

    margin:auto;


    /* Grid for all the articles projects */
    .card-canvas {
        margin:auto;
        display:grid;
        width:75%; 
        grid-template-columns: repeat(2, minmax(450px, 1fr));
        gap:15px;
        
        .card {
            margin:auto;
            max-height:35rem;
            max-width:41rem;
            margin: 10px;
            background-color: $bgcolor; 
            border: 1px solid black;  

            .card-image {
                max-width:400px;
                max-height:400px;
                display:block;
                margin:auto;
                margin-bottom:10px;
            }
        }
        
    }

    @media only screen and (max-width:1000px){
        .card-canvas {
          width:auto;

        }
    }
    
/* copied from home, candidates to be globalized: */
    .big-text {
        font-family: "Herr Von Muellerhoff", cursive;
        font-size: 10rem; // cambiado
        text-align: center;
        text-transform: capitalize;
        margin-bottom:3rem;
        margin-top:3rem; // cambiado
        color:$textcolor-orange;
        background-color: $bgcolor;
        text-shadow:$text-shadow1;

    }

    .smol-text {
        font-size: 2rem; // cambiado 
        font-weight: bold;
        //margin-top: -50px; cambiado
        margin-top:1rem;
        margin-bottom:1rem; // cambiado
        text-align: center;
        text-transform: uppercase;

        color:$textcolor-orange;
        text-shadow: $text-shadow4;

        
    }

    .normie-text {
        margin-bottom:1rem;
        display:block;
        color:rgb(250, 153, 43);
        font-size: 1.5rem;
        text-shadow:$text-shadow4;
    }
                  

}
/* CSS for about */
.canvas-web.about {
    min-height:51rem;
    max-width:1500px;
    margin:auto;
}
.inner-canvas.about {
    margin-top: 10%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 10%;
    background-color: $bgcolor;

    .about-board {
        display:flex;
        justify-content: center;
        align-content: center;

        #map {
            width: 90%;
            height:15rem;
            margin:5%;
            
    
        }
    }
    .about-content {
        display:flex;
        flex-direction: column;
        justify-content: center;
        width:50%;
        flex-shrink: 0;
    }

    .smol-text {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom:0px;
        text-align: center;
        text-transform: uppercase;

        color:$textcolor-orange;
        text-shadow: $text-shadow4;

        
    }
    hr {
        width: 280px;
        border: 2px solid #c59d5f;
        margin: 24px auto;
    }

    .normie-text {
        display:block;
        color:$textcolor-orange-light;
        font-size: 1.5rem;
        display:inline;
    }

    .email {
        font-style:italic;
        font-weight:bold;
        display:inline;
    }

    @media only screen and (max-width:1000px) {

        .smol-text {
          font-size:18px;

        }

        .normie-text {
            font-size:18px;
        }


    }
}

        


               

                


//                 /* Grid for all the articles projects */
//                 .card-canvas {
//                     max-width: 80vw;
//                     display:grid;
//                     grid-template-columns: repeat(2, minmax(400px, 1fr));
//                     gap:15px;

//                 }
//                 .card-canvas .card {
//                     max-width: 600px;
//                     max-height: 600px;
//                     margin: 10px;
                    
//                     background-color: $bgcolor; 
//                     border: 1px solid black;  
//                 }


//                 .card p {
//                 padding:5px;
//                 }

//                 .card-image {
//                     max-width:400px;
//                     max-height:400px;
//                 }


//             }
//             .menu {
//                 /* if we're displaying menu, we're overriding inner-canvas properties */
//                 background-color: rgba(255, 255, 255, 0);
//             }
//     }
// }


/* Media rules for cellphone */
@media only screen and (max-width:600px) {
    html {
        width:auto;
        height:600px;

        .canvas-web {
            min-height: auto;
        }
        .card-canvas {
            width:auto;
        }

    }
}

